<!DOCTYPE html>
<html>
  <head>
    <title>world builder</title>
  </head>
  <body>
    <h1>Hello World!</h1>
    <section>
    {{#each terrain}}
      <div class={{terrain}}>x</div>
    {{/each}}
    </section>
  </body>
</html>
