<form action='/worldGen' method='post'>
  World Name: <br>
   <input type='text' name='worldName'> <br> <br>
  X axis length: <br>
  <input type="number" name="X" min="5" max="2000"> <br> <br>
  Y axis length: <br>
  <input type="number" name="Y" min="5" max="2000"> <br> <br>
  <br>
  <input type='submit', value='Generate World'>
</form>