<form action='/worldMod' method='post'>
  New Terrain Type: <br>
   <input type='text' name='terrainType'> <br> <br>
  X axis coordinate: <br>
  <input type="number" name="X"> <br> <br>
  Y axis coordinate: <br>
  <input type="number" name="Y"> <br> <br>
  <br>
  <input type='submit', value='Change Cell'>
</form>